{extend name="common/childPublic"}

{block name="title"}商品分类{/block}

{block name="content"}
<span class="layui-breadcrumb">
    <a>
        <cite>商品管理</cite>
    </a>
    <a>
        <cite>商品分类</cite>
    </a>
</span>

<div class="row" style="margin-top: 15px">
    <div class="layui-card">
        <div class="layui-card-header">
            商品分类列表
        </div>
        <div class="layui-card-body">
            <div class="table-content">
                <table id="list" lay-filter="list"></table>
            </div>
            <script type="text/html" id="test-table-toolbar-toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal" id="create" lay-href="/admin/category/create" lay-event="getCheckData">添加商品分类</button>
                </div>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/html" id="barOperation">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['element','table','jquery'], function(){
        var element = layui.element, table = layui.table, $ = layui.$;

        table.on('toolbar(list)', function(obj){
            if (obj.event == 'getCheckData') {
                top.layui.index.openTabsPage("/admin/category/create", '添加商品分类');
            }
            console.log(obj.event)
        })

        table.on('tool(list)', function (obj) {
            console.log(obj.event)
        })

        table.render({
            elem: '#list'
            ,toolbar: '#test-table-toolbar-toolbarDemo'
            ,url: '/admin/category/getList'
            ,page: true
            ,cols: [[
                 {field: '', title: '序号', type: 'numbers'}
                ,{field: 'category_name', title: '分类名称'}
                ,{field: 'level', title: '级别'}
                ,{field: 'sort', title: '排序'}
                ,{field: 'create_time', title: '添加时间'}
                ,{field: 'status', title: '状态', templet: function(data){
                        if (data.status == 0) {
                            return '<input type="checkbox" name="status" lay-skin="switch" lay-text="开启|关闭" checked>'
                        } else {
                            return '<input type="checkbox" name="status" lay-skin="switch" lay-text="开启|关闭">'
                        }
                    }
                }
                // ,{field: 'sign', title: '查看下级'}
                ,{field: 'operation', title: '操作', toolbar: "#barOperation"}
            ]]
        });
    });
</script>
{/block}