{extend name="common/childPublic"}

{block name="title"}商品分类{/block}

{block name="content"}
<span class="layui-breadcrumb">
    <a>
        <cite>商品管理</cite>
    </a>
    <a>
        <cite>商品分类</cite>
    </a>
</span>

<div class="row" style="margin-top: 15px">
    <div class="layui-card">
        <div class="layui-card-header">
            商品分类列表
        </div>
        <div class="layui-card-body">
            <div class="layui-form layui-row layui-col-space10">
                <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="category_name" required  lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="search">查询结果</button>
                            <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-content">
                <table id="list" lay-filter="list"></table>
            </div>
            <script type="text/html" id="test-table-toolbar-toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal layui-btn-sm" id="create" lay-href="/admin/category/create" lay-event="getCheckData">添加商品分类</button>
                </div>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/html" id="barOperation">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['element','table','jquery', 'form'], function(){
        var element = layui.element, table = layui.table, $ = layui.$, form = layui.form;

        table.on('toolbar(list)', function(obj){
            if (obj.event == 'getCheckData') {
                top.layui.index.openTabsPage("/admin/category/create", '添加商品分类');
            }
            console.log(obj.event)
        })

        table.on('tool(list)', function (obj) {
            switch (obj.event) {
                case 'check':
                    if (obj.data.parent_id == 0) {
                        listTable.reload({
                            where: {
                                parent_id: obj.data.id
                            },
                            page: {
                                curr: 1
                            },
                            done: function(){
                                thinsTableWhere = this
                            }
                        })
                    }
                    break;
                case 'del':
                    deleteData(obj)
                    break;
            }
        })

        function deleteData(obj) {
            var confirm = layer.confirm('确定要删除当前分类吗？', {
                title: "提示信息",
                btn: ['确定','取消'],
                icon: 5
            }, function(){
                layer.close(confirm)
                var loading = layer.load(1, {shade: [0.3,'#000']});
                $.post('/admin/category/delete', {id: obj.data.id}, function(resp) {
                    layer.closeAll()
                    if (resp.code == 0) {
                        obj.del();
                        layer.msg(resp.message, {icon: 1})
                    } else {
                        layer.msg(resp.errors, {icon: 5})
                    }
                }).error(function(){
                    layer.closeAll()
                    layer.msg("删除失败，服务器出现异常！", {icon: 5})
                })
            }, function(){
                layer.close(confirm)
            });
        }

        var listTable = table.render({
            elem: '#list'
            ,toolbar: '#test-table-toolbar-toolbarDemo'
            ,url: '/admin/category/getList'
            ,page: true
            ,cols: [[
                 {field: '', title: '序号', type: 'numbers'}
                ,{field: 'category_name', title: '分类名称'}
                ,{field: 'level', title: '级别'}
                ,{field: 'sort', title: '排序'}
                ,{field: 'create_time', title: '添加时间'}
                ,{field: 'status', title: '状态', templet: function(data){
                        if (data.status == 0) {
                            return '<input type="checkbox" name="status" value="'+data.id+'" lay-filter="status" lay-skin="switch" lay-text="开启|关闭" checked>'
                        } else {
                            return '<input type="checkbox" name="status" value="'+data.id+'" lay-filter="status" lay-skin="switch" lay-text="开启|关闭">'
                        }
                    }
                }
                ,{field: 'check', title: '查看下级', templet: function(data){
                        if (data.parent_id == 0) {
                            return '<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="check">查看下级</button>';
                        } else {
                            return ""
                        }
                    }
                }
                ,{field: 'operation', title: '操作', toolbar: "#barOperation"}
            ]]
        });
        var thinsTableWhere;
        form.on('submit(search)', function(data){
            var category_name = data.field.category_name
            listTable.reload({
                where: {
                    category_name: category_name
                },
                page: {
                    curr: 1
                },
                done: function(){
                    thinsTableWhere = this
                }
            })
        });

        $('#reset').on('click', function(){
            $('input[name="category_name"]').val("")
            thinsTableWhere.where = {}
            listTable.reload('list')
        })

        form.on('switch(status)', function(data){
            var status = data.elem.checked === false ? 1 : 0
            var id = data.value
            var loading = layer.load(1, {
                shade: [0.3,'#000']
            });
            $.post('/admin/category/updateStatus', {id: id, status: status}, function(resp){
                layer.closeAll()
                if (resp.code == 0) {
                    layer.msg(resp.message, {icon: 1})
                } else {
                    layer.msg(resp.errors, {icon: 5})
                    $(data.elem).prop('checked', !data.elem.checked)
                    form.render()
                }
            }).error(function(){
                layer.closeAll()
                layer.msg("更新状态失败，服务器出现异常！", {icon: 5})
                $(data.elem).prop('checked', !data.elem.checked)
                form.render()
            })
        })

    });
</script>
{/block}