{extend name="common/childPublic"}

{block name="title"}管理员列表{/block}

{block name="content"}
<span class="layui-breadcrumb">
    <a>
        <cite>权限管理</cite>
    </a>
    <a>
        <cite>管理员列表</cite>
    </a>
</span>

<div class="row" style="margin-top: 15px">
    <div class="layui-card">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">
                    高级搜索
                </h2>
                <div class="layui-colla-content layui-show">
                    <form class="layui-row layui-col-space10 demo-list layui-form">
                        <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="phone" placeholder="管理员手机号码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">电子邮箱</label>
                                <div class="layui-input-block">
                                    <input type="text" name="email" placeholder="管理员电子邮箱" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" placeholder="管理员名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm4 layui-col-md4 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">角色</label>
                                <div class="layui-input-block">
                                    <select name="role" lay-search>
                                        <option value="">请选择角色</option>
                                        {foreach $role as $key => $val}
                                        <option value="{$val.id}">{$val.role_name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="query">查询结果</button>
                                    <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <table id="list" lay-filter="list"></table>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/html" id="barOperation">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="setRule">修改密码</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['element','table', 'form', 'jquery'], function(){
        var element = layui.element, table = layui.table, form = layui.form, $ = layui.$;
        var thisTableWhere;

        var listTable = table.render({
            elem: '#list'
            ,url: '/admin/admins/list'
            ,page: true
            ,cols: [[
                {field: '', title: '序号', type: 'numbers'}
                ,{field: 'admins_name', title: '姓名'}
                ,{field: 'phone', title: '手机号码'}
                ,{field: 'email', title: '电子邮箱'}
                ,{field: 'role_name', title: '角色'}
                ,{field: 'status', title: '状态', templet: function(data){
                        if (data.status == 0) {
                            return '<input type="checkbox" name="status" value="'+data.id+'" lay-filter="status" lay-skin="switch" lay-text="开启|关闭" checked>'
                        } else {
                            return '<input type="checkbox" name="status" value="'+data.id+'" lay-filter="status" lay-skin="switch" lay-text="开启|关闭">'
                        }
                    }
                }
                ,{field: 'create_time', title: '注册时间'}
                ,{field: 'wealths', title: '操作', toolbar: "#barOperation"}
            ]]
        });

        form.on('submit(query)', function(data){
            var param = data.field
            listTable.reload({
                where: {
                    param
                },
                page: {
                    curr: 1
                },
                done: function(){
                    thisTableWhere = this
                }
            })
            return false
        })

        $('#reset').on('click', function(){
            if (typeof thisTableWhere != 'undefined') {
                thisTableWhere.where = {}
            }
            listTable.reload('list')
        })
    });
</script>
{/block}