{extend name="common/childPublic"}

{block name="title"}添加后台管理员{/block}

{block name="content"}
<span class="layui-breadcrumb">
    <a>
        <cite>权限管理</cite>
    </a>
    <a href="javascript:;" lay-href="/admin/admins" lay-name="管理员列表" id="openView">
        <cite>管理员列表</cite>
    </a>
    <a>
        <cite>添加管理员</cite>
    </a>
</span>

<div class="row" style="margin-top: 15px">
    <div class="layui-card">
        <div class="layui-card-header">
            填写新的管理员信息
        </div>
        <div class="layui-card-body">
            <div class="layui-form layui-row">
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">管理员姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="admins_name" maxlength=10" required  lay-verify="required" placeholder="请输入管理员姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" maxlength=11" required  lay-verify="required|phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">电子邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" maxlength=50" required  lay-verify="required|email" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">微信账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="wx_number" maxlength=20"  lay-verify="checkWx" placeholder="请输入微信账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">QQ号</label>
                    <div class="layui-input-block">
                        <input type="text" name="qq_number" maxlength="12"  lay-verify="checkQQ" placeholder="请输QQ号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">籍贯</label>
                    <div class="layui-input-block">
                        <input type="text" name="native_place" maxlength="50" required  lay-verify="required" placeholder="请输入籍贯" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">出生年月日</label>
                    <div class="layui-input-block">
                        <input type="text" name="birthday" id="birthday" required  lay-verify="required" placeholder="请选择出生年月日" readonly autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <select name="sex" lay-verify="required">
                            <option value="">请选择性别</option>
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">登录密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" minlength="8" maxlength="20" required  lay-verify="required|checkPassword" placeholder="请输入登录密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="confirm_password" minlength="8" maxlength="20" required  lay-verify="required|confirmPassword" placeholder="请再次确认密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <select name="role" lay-verify="required" lay-search>
                            <option value="">请选择角色</option>
                            {foreach $roleList as $key => $val}
                            <option value="{$val.id}">{$val.role_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="save">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['element','layer','jquery', 'laydate', 'form'], function(){
        var element = layui.element, layer = layui.layer, $ = layui.$, form = layui.form, laydate = layui.laydate;
        form.render();
        // 点击面包屑返回商品分类页面
        $('#openView').on('click', function(){
            var targetUrl = $(this).attr('lay-href')
            var targetName = $(this).attr('lay-name')
            top.layui.index.openTabsPage(targetUrl, targetName);
        });

        laydate.render({
            elem: '#birthday'
            ,format: 'yyyy-MM-dd'
        });

        // 验证表单的值
        form.verify({
            checkWx: function(value) {
                if (value.length > 0) {
                    if (!/^[a-zA-Z][a-zA-Z\d_-]{5,19}$/.test(value)) {
                        return "请输入正确的微信账号"
                    }
                }
            },
            checkQQ: function(value) {
                if(value.length > 0) {
                    if (!/^[1-9][0-9]{4,10}$/.test(value)) {
                        return "请输入正确的QQ号"
                    }
                }
            },
            checkPassword: function(value) {
                if (!/^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[._~!@#$^&*])[A-Za-z0-9._~!@#$^&*]{8,20}$/.test(value)) {
                    return "密码由字母、数字、特殊符号(._~!@#$^&*)组成，区分大小写，长度为8-20位"
                }
            },
            confirmPassword: function(value) {
                var password = $('input[name="password"]').val()
                if (password != value) {
                    return "两次输入的密码不一致，请重新输入！"
                }
            }
        })

        // 提交表单
        form.on('submit(save)', function(data){
            var index = layer.load(1, {shade: [0.3,'#000']});
            $.post('/admin/admins/submit', data.field, function(resp){
                if (resp.code == 0) {
                    layer.msg(resp.message, {icon: 1, end: function(){
                            location.reload();
                    }});
                } else {
                    layer.closeAll()
                    layer.msg(resp.errors, {icon: 5})
                }
            }).error(function(){
                layer.closeAll()
                layer.msg("添加分类数据失败，服务器出现异常！", {icon: 5})
            })
        });
    });
</script>
{/block}